APP_NAME=TalentionHR
APP_ENV=production
APP_KEY=base64:GENERATE_WITH_php_artisan_key_generate
APP_DEBUG=false
APP_URL=https://tu-dominio.com
FRONTEND_URL=https://tu-dominio.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=talentionhr
DB_USERNAME=talentionhr
DB_PASSWORD=TU_PASSWORD_AQUI

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

SANCTUM_STATEFUL_DOMAINS=tu-dominio.com

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync

CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_SCHEME=smtps
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=tu-email@dominio.com
MAIL_PASSWORD=TU_PASSWORD_SMTP
MAIL_FROM_ADDRESS="tu-email@dominio.com"
MAIL_FROM_NAME="TalentionHR"
